@font-face {
    font-family: 'Aptos';
    src: url('{{ 'Aptos.woff' | asset_url }}') format('woff');
}
@font-face {
    font-family: 'Trade';
    src: url('{{ 'Trade Gothic Next LT Pro BdCn.woff' | asset_url }}') format('woff');
}
body {
  font-family: 'Aptos', sans-serif;
}
.h1, .h2, .h3, h1, h2, h3{
  font-family: 'Trade', sans-serif;
}
.hero__text-shadow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slideshow__slide--image_EVraHk .hero__title {
  width: 90%;
}
.hero__subtitle {
    margin-bottom: 75px;
    margin-top: 15px;
  font-size:20px;
  line-height:22px;
}
.btn{
  background:#1493F5;
  color:#ffffff;
  padding:15px 50px;
  border-radius:70px;
  font-size:18px;
  line-height:22px;
}